@import url(./variables.css);

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

.align-center {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 141px;
  background-color: var(--primary-color);
  justify-content: space-between;
  padding: 0 80px 0 80px;

  div.company {
    display: flex;
    gap: 20px;

    .company_logo {
      width: 36px;
      height: 31px;
      fill: var(--secondary-color);
    }
    p {
      font-size: 22px;
      font-weight: 600;
    }
  }

  nav {
    ul {
      display: flex;
      gap: 20px;
      list-style: none;

      a {
        text-decoration: none;
        color: var(--basic-color);
        font-weight: 300;
      }

      a:hover {
        color: var(--secondary-color);
        transition-duration: 600ms;
      }

      span {
        font-weight: 300;
        color: var(--basic-color);
      }
    }
  }
}

main {
  padding: 0 80px 0 80px;
  /* section first */

  section.first {
    background-image: url(https://static.wixstatic.com/media/74f558_66357e0ecfea4c86b2ea0bce6e8a9447~mv2.jpg/v1/fill/w_1173,h_1029,fp_0.50_0.50,q_85,enc_avif,quality_auto/74f558_66357e0ecfea4c86b2ea0bce6e8a9447~mv2.jpg);
    height: 860px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    div.overlay {
      height: 100%;
      background-color: var(--overlay-color);
      padding-left: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        color: var(--primary-color);
        font-size: 72px;
        width: 690px;
        margin-bottom: 70px;
        font-weight: 600;
      }
      button {
        width: 183px;
        height: 40px;
        background-color: var(--primary-color);
        color: var(--basic-color);
        border: none;
        font-size: 14px;
        font-weight: 200;
        cursor: pointer;
      }
      button:hover {
        color: var(--secondary-color);
        transition-duration: 600ms;
      }
    }
  }
  /* section second */
  section.second {
    display: flex;
    margin: 60px 0 100px 0;
    div.background_img {
      width: 50%;
      height: 680px;
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-image: url(https://static.wixstatic.com/media/84770f_59a5515ed0ea48efb3f1a7e3ce3098cc~mv2.jpeg/v1/fill/w_735,h_1020,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_59a5515ed0ea48efb3f1a7e3ce3098cc~mv2.jpeg);
    }
    div.short_info {
      width: 50%;

      div.wrapper {
        width: 460px;

        h2 {
          font-size: 40px;
          font-weight: 600;
          color: var(--basic-color);
        }
        p {
          font-size: var(--primary-font);
          font-weight: 200;
          color: var(--basic-color);
          line-height: 25.5px;
          margin: 30px 0 50px 0;
        }
        a {
          background-color: var(--basic-color);
          padding: 10px 31px;
          font-size: 14px;
          color: var(--primary-color);
          font-weight: 200;
          text-decoration: none;
        }
        a:hover {
          background-color: var(--secondary-color);
          transition-duration: 600ms;
        }
      }
    }
  }

  /* section third */
}
